.calculator{
    background-color : skyblue;
    font-size: 16px;
    height: 200px;
}

.botones{
    margin-left: 145px;
}

.operando {
    font-size: 16px;
    margin-left: 20px;
}

.res{
    color: rebeccapurple;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 300;
}