<div class = "convertor">
  <label for="red">Rojo:</label>
  <input type="number" id="red" [(ngModel)]="red" min="0" max="255">

  <label for="green">Verde:</label>
  <input type="number" id="green" [(ngModel)]="green" min="0" max="255">

  <label for="blue">Azul:</label>
  <input type="number" id="blue" [(ngModel)]="blue" min="0" max="255">

  <button (click)="convertToHex()">Generar Color</button>

  <div *ngFor="let color of hexColors" class="color-item">
    <div [style.background]="color.hex" class="color-box"></div>
    <p>{{ color.hex }}</p>
  </div>
</div>
